# Performing RDD operations on dataset

In [1]:
import pyspark.sql.functions as sql_functions
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [2]:
#create RDD 
Data = sc.parallelize (
   ["scala", 
   "java", 
   "hadoop", 
   "spark", 
   "akka",
   "spark vs hadoop", 
   "pyspark",
   "pyspark and spark"],3)

In [10]:
df = sqlContext.read.csv("hdfs://localhost:54310//user/hadoopuser/sample.csv",header = True, inferSchema = True)

In [11]:
#Showing the data
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|   Sam |200.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|  APPL | Chris |350.0|
+-------+-------+-----+

In [12]:
df.describe().show()

+-------+-------+-------+------------------+
|summary|Company| Person|             Sales|
+-------+-------+-------+------------------+
|  count|     11|     11|                11|
|   mean|   null|   null|382.45454545454544|
| stddev|   null|   null|249.96774337356555|
|    min|   APPL|    Amy|             124.0|
|    max|   MSFT|Vanessa|             870.0|
+-------+-------+-------+------------------+

In [13]:
# OrderBy
# Ascending
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|   Sam |200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|  APPL | Chris |350.0|
|     FB|  Sarah|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [14]:
# Descending call off the column itself.
df.orderBy(df["Sales"].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|  APPL | Chris |350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|   Sam |200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+

In [17]:
df.groupBy('Company')

In [18]:
# Max
df.groupBy('Company').max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|  APPL |     350.0|
|   MSFT|     600.0|
+-------+----------+

In [19]:
# Sum
df.groupBy('Company').sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1130.0|
|   GOOG|     540.0|
|     FB|    1220.0|
|  APPL |     350.0|
|   MSFT|     967.0|
+-------+----------+

In [20]:
# Sum by Agg
group_data = df.groupBy("Company")
group_data.agg({'Sales':'sum'}).show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1130.0|
|   GOOG|     540.0|
|     FB|    1220.0|
|  APPL |     350.0|
|   MSFT|     967.0|
+-------+----------+

In [21]:
#REDUCE OPERATION:----

numbers = [10,20,30,40,50]
# Define a new function combine
def combine(x,y):
  return "(" + str(x) + ", " + str(y) + ")"

# Use reduce to apply combine to numbers
from functools import reduce

print(numbers)
reduce(combine,numbers)

[10, 20, 30, 40, 50]

'((((10, 20), 30), 40), 50)'

In [4]:
#FILTER OPERATION

numbers = range(10, 45)
less_than_zero = list(filter(lambda x: x < 20, numbers))
print(less_than_zero)

[-15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]